{% extends "layouts/base.twig" %}
{% block main_content %}
<h2>Home Page</h2>
<ul style="list-style: none; padding: 0; margin: 0;">
    <li>
        <a href="/products" style="color: blue;">View Products</a>
    </li>
</ul>
{% endblock %}
{% block scripts %}
<p>Scripts are loaded!</p>
<script type="text/javascript"></script>
{% endblock %}
{% block title %}Home View{% endblock %}