{% extends "layouts/base.twig" %}
{% block main_content %}
<h2>Manage:</h2>
<ul>
    <li>
        <a href="/products">Products</a>
    </li>
    <li>
        <a href="/variants">Variants</a>
    </li>
    <li>
        <a href="/images">Images</a>
    </li>
</ul>
{% endblock %}

{% block title %}Manage{% endblock %}