{% extends "layouts/base.twig" %}
{% block main_content %}
<h2>Home Page</h2>
<ul>
    <li>
        <a href="/products">View/Manage Products</a>
    </li>
</ul>
{% endblock %}
{% block scripts %}
<p>Scripts are loaded!</p>
<script type="text/javascript"></script>
{% endblock %}
{% block title %}Home View{% endblock %}