{% extends 'layouts/base.twig' %}

{% block main_content %}
	<h2>Edit Product</h2>
	{% include 'views/variants/_form.twig' with { 'variant': variant, 'products': products } %}
{% endblock %}

{% block title %}Edit Product{% endblock %}