{% extends "layouts/base.twig" %}
{% block main_content %}
<h2>Manage All Variants:</h2>
<ul style="list-style: none; margin: 0; padding: 0; display: flex; flex-direction: column; row-gap: 1.5rem;">
    {% for variant in variants %}
    <li style="display: flex; flex-direction: row; column-gap: 1rem; align-items: center;">
        <a href="/variants/{{ variant.id }}" style="color: black; font-weight: 700;">{{ variant.title }}</a>
        -
        <a href="/variants/{{ variant.id }}/edit" style="color: blue; border: 2px solid blue; padding: .5rem 1rem; border-radius: .25rem;">Edit</a>
        <a href="/variants/{{ variant.id }}/delete" style="color: red; border: 2px solid red; padding: .5rem 1rem; border-radius: .25rem;">Delete</a>
    </li>
    {% endfor %}
    <div style="display: flex; border-top: 2px solid #aaa"></div>
    <a href="/variants/new" style="color: green; border: 2px solid green; padding: .5rem 1rem; border-radius: .25rem; margin-right: auto;">Create New Variant</a>
</ul>
{% endblock %}
{% block title %}Manage All Variants{% endblock %}