{% extends 'layouts/base.twig' %}

{% block main_content %}
	<h2>Create New Image</h2>
	{% include 'views/images/_form.twig' with { 'variants': variants } %}
{% endblock %}
{% block title %}Create Product{% endblock %}