{% extends 'layouts/base.twig' %}

{% block main_content %}
	<h2>Edit Product</h2>
	{% include 'views/images/_form.twig' with { 'variants': variants } %}
{% endblock %}

{% block title %}Edit Product{% endblock %}