<form method="POST" action="/products{% if product.id %}/{{ product.id }}{% endif %}" style="display: flex; flex-direction: column; row-gap: 1rem;">
	{% if product.id %}
		<input type="hidden" name="id" value="{{ product.id }}" />
	{% endif %}
	<div>
		<label for="title">Product Title:</label>
		<input type="text" name="title" id="title" value="{{ product.title }}" />
	</div>
	<div>
		<label for="price">Product Price:</label>
		<input id="price" type="number" step=".01" name="price" value="{{ product.price }}" />
	</div>
	<div>
		<button type="submit" style="padding: .5rem 1rem; font-weight: 700; cursor: pointer;">Save Product</button>
	</div>
</form>