<form method="POST" action="/products{% if product.id %}/{{ product.id }}{% endif %}">
	{% if product.id %}
		<input type="hidden" name="id" value="{{ product.id }}" />
	{% endif %}
	<div>
		<label for="title">Product Title:</label>
		<input type="text" name="title" id="title" value="{{ product.title }}" />
	</div>
	<div>
		<label for="slug">Product Slug:</label>
		<input id="slug" type="text" name="slug" value="{{ product.slug }}" />
	</div>
	<div>
		<button type="submit">Save Product</button>
	</div>
</form>